{% extends 'base.html.twig' %}

{% block body %}
<div class="card card-body" style="margin-right: 1900px; margin-top: -200px">
    <form>
        {# element #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'element'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        {# Flat stat #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'flatStat'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>ATK</option>
                <option>HP</option>
                <option>DEF</option>
            </select>
        </div>
        {# substat 1 #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'sub1'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
            </select>
        </div>
        {# substat 2 #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'sub2'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
            </select>
        </div>
        {# substat 3 #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'sub3'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
            </select>
        </div>
        {# substat 4 #}
        <div class="form-group">
            <label for="exampleFormControlSelect1">{{ 'sub4'|trans}}</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
            </select>
        </div>
    </form>   
</div>
{% endblock %}